{{#is "post"}}
    {{#if comments}}
        <div class="gh-comments gh-read-next gh-canvas">
            <section class="gh-pagehead">
                <h4 class="gh-pagehead-title">Comments</h3>
            </section>
            {{comments title="" count=false}}
        </div>
    {{/if}}
{{/is}}