  <ul class="nav german-only">
    <li class="nav-services"><a href="https://mvst.co/de/services">Services</a></li>
    <li class="nav-solutions"><a href="https://mvst.co/de/projekte">Projekte</a></li>
    <li class="nav-about-us"><a href="https://mvst.co/de/ueber-uns">Über uns</a></li>
    <li class="nav-about-us"><a href="https://mvst.co/de/datenschutz">Datenschutz</a></li>
    <li class="nav-about-us"><a href="https://mvst.co/de/impressum">Impressum</a></li>
  </ul>
